<div class='home-button'>
  <% time =  Time.now %>
  <%= time.to_fs(:long) %>
  <%=button_to 'Recherche patient', patients_path %>
  <button>Nouvelle prise en charge</button>
  <button>Listing patient</button>
  <button>statistique</button>
    <div class='home-secondaire'>
      <button>Google maps</button>
      <button>canaux</button>
    </div>
</div>
<h1>Prise en charge en attente de traitemant: (comptteur: num)
<p>tableau</p>
<h2>Incident - Absence - Visite medicale en attente de traitement : (compteur: num)
<p>tableau<p>s
