.home-button {
  justify-content: center;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 15px;

}
 .home-button button {
  color: white;
  background-color: rgb(70, 195, 137);
  border-radius: 5px;
  margin-top: 8px;
 }
